*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}

body{
    background-color: #ffffff;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

/* estilo do cabeçalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
}
header a:hover{
    color: black;
    transform: scale (1.5);

}
header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
.menu-desktop button{
    padding: 10px 23px;
    border: 0;
    border-radius: 30px;
    
    font-weight: 600;
    cursor: pointer;
    background-color: #4acbeb;

}

.menu-desktop button:hover{
    box-shadow: 0px 0px 8px #16affb;


}

/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1{
    color: #4dd5ff;
    font-style: italic;
    line-height: 40px;

}

.quem-somos h2{
    color: #4dd5ff;
    font-size:35px;
    line-height: 40px;
    


}
.quem-somos .interface p{
    color: #000000;
    margin: 60px 0px;
    font-size: 20px;


}
.indice h3{
    color: #4dd5ff;
    font-size: 35px;
    line-height: 10px;
    


}
.indice .interface p{
    color: #000000;
    margin: 60px 0px;
    font-size: 20px;
}

.Problemas-Emocionais h4{
    color: #4dd5ff;
    font-size: 35px;
    line-height: 40px;
}
.Problemas-Emocionais .interface p{
    color: #000000;
    margin: 60px 0px;
    font-size: 20px;

}

.Depressao h5{
    color: #4dd5ff;
    font-size: 35px;
    line-height: 40px;

}

.Depressao .interface p{
    color: #000000;
    margin: 60px 0px;
    font-size: 20px;
}

.Ansiedade h6{
    color: #4dd5ff;
    font-size: 35px;
    line-height: 40px;

}

.Ansiedade .interface p{
    color: #000000;
    margin: 60px 0px;
    font-size: 20px;
}

.Para-voce h7{
    color: #4dd5ff;
    font-size: 35px;
    line-height: 40px;

}

.Para-voce .interface p{
    color: #000000;
    margin: 60px 0px;
    font-size: 20px;
}

.Para-voce{
    padding: 40px 4%;
}
.Para-voce .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}


.paravoce_whatsapp button{
    padding: 10px 23px;
    border: 0;
    border-radius: 30px;
    
    font-weight: 600;
    cursor: pointer;
    background-color: #21ff4e;

}

.paravoce_whatsapp button:hover{
    box-shadow: 0px 0px 8px #0dff62;


}

.paravoce_youtube button{
    padding: 10px 23px;
    border: 0;
    border-radius: 30px;
    
    font-weight: 600;
    cursor: pointer;
    background-color: #ff2222;

}

.paravoce_youtube button:hover{
    box-shadow: 0px 0px 8px #ff0000;


}

.final .flex{
    width: 100%; /* Ocupa 100% da largura do contêiner ou viewport */
    height: 50px; /* Define uma altura fixa, ajuste conforme necessário */
    background-color: #00bfff; /* Azul, ou a cor desejada */
    margin: 0; /* Remove as margens externas */
    padding: 0; /* Remove os preenchimentos internos */
}